@{
    string PanelColor = "White";
    Portal.Controllers.Api.PortalUserController PortalUserController = new Portal.Controllers.Api.PortalUserController();
    List<Entities.Models.PortalUserDevice> portalUserDeviceDashList = new List<Entities.Models.PortalUserDevice>();
    Entities.Models.PortalUser CurrentUser = new Entities.Models.PortalUser();
    CurrentUser = PortalUserController.GetItemByName(User.Identity.Name);
    Portal.Controllers.Api.PortalUserDeviceController portalUserDeviceController = new Portal.Controllers.Api.PortalUserDeviceController();
    Portal.Controllers.Api.PortalNotificationController PortalNotificationController = new Portal.Controllers.Api.PortalNotificationController();
    portalUserDeviceDashList = portalUserDeviceController.GetItemList(CurrentUser.Id);
    Portal.Controllers.Api.PortalDeviceUsageController PortalDeviceUsageController = new Portal.Controllers.Api.PortalDeviceUsageController();
    Portal.Controllers.Api.PortalUserOrganizationController portalUserOrganizationController = new Portal.Controllers.Api.PortalUserOrganizationController();
    var OrganizationList = portalUserOrganizationController.GetItemsByPortalUserId(CurrentUser.Id);

}






@foreach (var item in PortalNotificationController.GetItemListActivePortal())
{
    @if (CurrentUser.AllowNotifications)
    {
        <script>
            $.notify({
                // options
                message: '@item.Name - Offline'
            }, {
                // settings
                type: 'warning'
            });

        </script>
        item.SoftDelete = true;
        PortalNotificationController.SaveItem(item);
    }
}
<div class="row">
    @foreach (var item in OrganizationList)
    {
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">Organization</p>
                    <h3 class="card-title">
                        @item.Name
                    </h3>
                </div>
                <div class="card-footer">
                    <button type="button" onclick="copyToClipboard('@item.Name')" class="btn btn-primary pull-right">Copy</button>
                </div>

            </div>
        </div>
    }

</div>
<div class="row">
    @foreach (var item in portalUserDeviceDashList.OrderBy(x => x.PortalDevice.Name))
    {

        if (item.PortalDevice.Active)
        {
            PanelColor = "card-header card-header-success card-header-icon";
        }
        else
        {
            PanelColor = "card-header card-header-danger card-header-icon";
        }
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">

                <div class="@PanelColor pointer">
                    <div class="card-icon pointer" onclick="location.href='/PortalUserDevice/Edit?PortalUserDeviceId=@item.Id'">
                        <i class="material-icons">cloud</i>
                    </div>

                    @if (item.PortalDevice.Active)
                    {
                        <p class="card-category">Online&nbsp;@item.PortalDevice.LastActiveTime.ToShortTimeString()</p>
                    }
                    else
                    {
                        <p class="card-category">Offline&nbsp;@item.PortalDevice.LastActiveTime.ToShortTimeString()</p>

                    }

                    <h3 class="card-title">
                        @item.PortalDevice.Name
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <button type="button" onclick="DisplayMessage('Are you sure you want to restart : @item.PortalDevice.Name','Restart',1,'RestartPortalDevice(@item.PortalDeviceId)')" class="btn btn-primary pull-right">Restart</button>
                        <button type="button" onclick="DisplayMessage('Are you sure you want to shutdown : @item.PortalDevice.Name','Shutdown',1,'ShutdownPortalDevice(@item.PortalDeviceId)')" class="btn btn-primary pull-right">Shutdown</button>
                    </div>
                </div>
                @{
                    double Power = 0;
                }
                @foreach (var ChildDevice in item.PortalDevice.PortalDeviceChildern)
                {
                    <div class="card-footer">
                        <div class="stats">

                            <div><label>@ChildDevice.Name&nbsp;</label><label></label></div>
                            @if (int.Parse(ChildDevice.Temp) > 80)
                            {
                                <a style="font-size:medium" class="danger-link">&nbsp;<b>@ChildDevice.Temp</b><span>&#8451;</span></a>
                            }
                            else if (int.Parse(ChildDevice.Temp) > 60)
                            {
                                <a style="font-size:medium" class="warning-link">&nbsp;<b>@ChildDevice.Temp</b><span>&#8451;</span></a>
                            }
                            else
                            {
                                <a style="font-size:medium;" class="success-link">&nbsp;<b>@ChildDevice.Temp</b><span>&#8451;</span></a>
                            }
                            @{
                                if (ChildDevice.Power != null)
                                {
                                    Power += double.Parse(ChildDevice.Power.Replace(',', '.'));
                                }

                            }

                        </div>
                    </div>


                }
                @if (Power != 0)
                {
                    <a style="font-size:medium;" class="success-link">&nbsp;<b>@Math.Round(Power) - W</b></a>
                }



            </div>
        </div>
    }

</div>