@{
    Portal.Controllers.Api.PortalUserController PortalUserController = new Portal.Controllers.Api.PortalUserController();
    List<Entities.Models.PortalUserDevice>
    portalUserDeviceDashList = new List<Entities.Models.PortalUserDevice>
        ();
    Entities.Models.PortalUser CurrentUser = new Entities.Models.PortalUser();
    CurrentUser = PortalUserController.GetItemByName(User.Identity.Name);
    Portal.Controllers.Api.PortalUserDeviceController portalUserDeviceController = new Portal.Controllers.Api.PortalUserDeviceController();
    portalUserDeviceDashList = portalUserDeviceController.GetItemList(CurrentUser.Id);

}
<div class="col-md-12">

    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Filters</h4>
            <p class="card-category">Device Filters</p>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-xl-4 col-lg-12">
                    <button type="button" onclick="ReloadPortalDeviceGraphs(1)" class="btn btn-primary pull-right">Minutes</button>
                    <button type="button" onclick="ReloadPortalDeviceGraphs(2)" class="btn btn-primary pull-right">Hours</button>
                    <button type="button" onclick="ReloadPortalDeviceGraphs(3)" class="btn btn-primary pull-right">Days</button>
                </div>
                

            </div>
        </div>
    </div>
</div>


<div class="col-md-12">

    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Temps</h4>
            <p class="card-category">Device Temps</p>
        </div>
        <div class="card-body">
            <div class="row">
                @foreach (var item in portalUserDeviceDashList.OrderBy(x => x.PortalDevice.Name))
                {
                    List<string> TempsList = new List<string>();
                    string res = "dailySalesChart" + @item.Id;
                    string DeviceLastActiveDiv = "DeviceLastActiveDiv" + @item.Id;
                    <div class="col-xl-6 col-lg-12">
                        <div class="card card-chart" style="background-color:#1a2035">
                            <div class="card-header card-header-success">
                                <div class="ct-chart ct-chart-line" id="@res"></div>
                            </div>
                            <div class="card-body">
                                @*@foreach (var items in item.PortalDevice.PortalDeviceChildern)
                                    {
                                        <h4 class="card-title">@items.Name</h4>
                                    }*@

                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i><div id="@DeviceLastActiveDiv">Updated @item.PortalDevice.LastActiveTime.AddHours(2).ToShortTimeString() on @item.PortalDevice.LastActiveTime.ToLongDateString()</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                }
            </div>

        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Power Consumption</h4>
            <p class="card-category">Device Power Consumption</p>
        </div>
        <div class="card-body">
            <div class="row">
                @foreach (var item in portalUserDeviceDashList.OrderBy(x => x.PortalDevice.Name))
                {
                    List<string> TempsList = new List<string>();
                    string res = "dailySalesChartPower" + @item.Id;
                    string DeviceLastActiveDiv = "DeviceLastActiveDiv" + @item.Id;
                    string DeviceChartPower = "DeviceChartPower" + @item.Id;
                    <div class="col-xl-6 col-lg-12" id="@DeviceChartPower">
                        <div class="card card-chart" style="background-color:#1a2035">
                            <div class="card-header card-header-info">
                                <div class="ct-chart ct-chart-line" id="@res"></div>
                            </div>
                            <div class="card-body">
                                @*@foreach (var items in item.PortalDevice.PortalDeviceChildern)
                                    {
                                        <h4 class="card-title">@items.Name</h4>
                                    }*@

                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i><div id="@DeviceLastActiveDiv">Updated @item.PortalDevice.LastActiveTime.AddHours(2).ToShortTimeString() on @item.PortalDevice.LastActiveTime.ToLongDateString()</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                }
            </div>

        </div>
    </div>
</div>

