@model Entities.Models.PortalUserDevice
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Edit";
    Portal.Controllers.Api.PortalUserController portalUserController = new Portal.Controllers.Api.PortalUserController();
    var CurrentUser = portalUserController.GetItemByName(User.Identity.Name);

}

<div class="col-md-8">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">@Model.PortalDevice.Name</h4>
            <p class="card-category">Edit your Device</p>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="Edit">
                @Html.HiddenFor(x => x.PortalDeviceId)
                @Html.HiddenFor(x => x.Id)

                @Html.HiddenFor(x => x.PortalDevice.Id)
                @Html.HiddenFor(x => x.PortalDevice.LastActiveTime)
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Name</label>
                            @Html.TextBoxFor(m => m.PortalDevice.Name, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Description</label>
                            @Html.TextBoxFor(m => m.PortalDevice.Description, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Description</label>
                            @Html.TextBoxFor(m => m.PortalDevice.DeviceGIUD, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">



                            <div class="form-check">

                                <label class="form-check-label">
                                    @Html.LabelFor(m => m.PortalDevice.Restart, new { @class = "control-label" })
                                    @Html.CheckBoxFor(m => m.PortalDevice.Restart, new { @class = "form-check-input" })
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>

                            </div>
                            @Html.ValidationMessageFor(m => m.PortalDevice.Restart, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">



                            <div class="form-check">

                                <label class="form-check-label">
                                    @Html.LabelFor(m => m.PortalDevice.Shutdown, new { @class = "control-label" })
                                    @Html.CheckBoxFor(m => m.PortalDevice.Shutdown, new { @class = "form-check-input" })
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>

                            </div>
                            @Html.ValidationMessageFor(m => m.PortalDevice.Shutdown, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Save</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>





  










@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
